@model List<ApplicationCore.Models.ExpenditureResponseModel>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Expenditure Id</th>
                <th scope="col">User Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Remarks</th>
                <th scope="col">Expenditure Date</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var res in Model)
            {
                <tr>
                    <td>@res.Id</td>
                    <td>@res.UserId</td>
                    <td>@res.Amount</td>
                    <td>@res.Description</td>
                    <td>@res.Remarks</td>
                    <td>@res.ExpDate</td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>
